.Announcement_form {
	width: 100%;
	max-width: 581px;
	padding: 0 0 !important;
}
@media (max-width: 700px) {
	.Announcement_form {
		width: 90%;
	}
}
.Announcement_form .text {
	color: #fff;
	width: 100%;
	height: 68px;
	background: #3772ff;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-bottom: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Announcement_form .text .com_text {
	text-align: center;
}
.Announcement_form .input_form {
	width: 100%;
	max-width: 560px;
	padding-inline: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Announcement_form .input_form .input {
	width: 100%;
	max-width: 560px;
}
.Announcement_form .input_form .input .date_input {
	padding-top: 15px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.Announcement_form .input_form .input .inputText {
	width: 100%;
	max-width: 540px;
}
.Announcement_form .select {
	width: 100%;
	position: relative;
	top: 0;
	right: 20px;
	margin-left: 15px;
}
