.CardsLesson {
	position: relative;
}
.CardsLesson .container {
	width: 560px;
	height: 310px;
	margin: 0 auto;
	border: 1px solid #bfc4ce;
	border-radius: 8px;
}
.CardsLesson .container .top_content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #bfc4ce;
}
.CardsLesson .container .top_content .pen {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	padding: 26px 20px;
}
.CardsLesson .container .top_content .pen .pen_img {
	padding: 5px;
	background: #eff0f4;
	border-radius: 5px;
}
.CardsLesson .container .top_content .pen .text_lesson {
	font-size: 16px;
	text-transform: uppercase;
}
.CardsLesson .container .top_content .arrow_del {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 25px;
}
.CardsLesson .container .top_content .arrow_del .add_arrow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #ebebeb;
	border-radius: 8px;
	padding: 13px 10px 13px 24px;
	margin-right: 28px;
}
.CardsLesson .container .top_content .arrow_del .add_text {
	color: #000;
	font-weight: bolder;
	font-size: 14px;
	margin-right: 10px;
}
.CardsLesson .container .bottom_content .screen_content {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 24px;
	margin-bottom: 18px;
	padding-left: 20px;
	position: relative;
	padding-top: 5px;
}
.CardsLesson .container .bottom_content .screen_content:hover {
	background-color: #eff0f4;
	padding: 10px;
}
.CardsLesson .container .bottom_content .screen_content .text_screen {
	font-size: 16px;
	font-weight: 700;
	color: #000;
}
.CardsLesson .container .bottom_content .screen_content .btn_screen1 {
	display: none;
	position: absolute;
	top: 3;
	right: 190px;
	background-color: #d4d4d4;
	padding: 8px;
	border: none;
	border-radius: 8px;
}
.CardsLesson
	.container
	.bottom_content
	.screen_content
	.btn_screen1
	.pen_edit_del {
	color: #000;
	padding-left: 5px;
}
.CardsLesson .container .bottom_content .screen_content .btn_screen2 {
	display: none;
	align-items: center;
	position: absolute;
	top: 3;
	right: 10px;
	padding: 6px;
	border: none;
	border-radius: 8px;
}
.CardsLesson
	.container
	.bottom_content
	.screen_content
	.btn_screen2
	.pen_edit_del {
	color: #000;
	padding-left: 5px;
}
.CardsLesson .container .bottom_content .screen_content:hover .btn_screen1 {
	display: block;
}
.CardsLesson .container .bottom_content .screen_content:hover .btn_screen2 {
	display: block;
}
