.Main_div {
	padding-inline: 20px;
	padding-top: 30px;
}
.Main_div .get_test_name_test {
	display: flex;
	padding-bottom: 20px;
	justify-content: space-between;
}
.Main_div .get_test_name_test .get_test_time {
	color: blue;
}
.Main_div .testing_container {
	padding-top: 20px;
	height: auto;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border: 1px solid #d4d4d4;
	border-radius: 10px;
	padding-left: 10px;
}
.Main_div .testing_container .question {
	height: auto;
	padding-bottom: 15px;
}
.Main_div .testing_container .question .get_test_testing_second_container {
	display: flex;
	padding-bottom: 18px;
}
.Main_div .testing_container .question .option {
	padding-bottom: 15px;
}
.Main_div .testing_container .question .option input {
	margin-right: 10px;
}
.Main_div .testing_container .question .getTest_hr {
	width: 99%;
	padding-inline: 20px;
	background: #c4c4c4;
}
.Main_div .testing_container .getTest_button {
	display: flex;
	justify-content: flex-end;
	padding-inline: 15px;
	padding-block: 20px;
}
