.HeaderMobile {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 999;
}
.HeaderMobile ul {
	display: flex;
	background: #fff;
	padding-block: 20px;
	align-items: center;
	justify-content: center;
}
.HeaderMobile ul li {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 16px;
}
.HeaderMobile ul li a {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #12171e;
	border-radius: 0.8rem;
	transition: all 0.2s ease;
	width: 110px;
}
.HeaderMobile ul li a:hover {
	background: #dde9f9;
	color: #1f6ed4;
}
.HeaderMobile ul li a .icon svg {
	width: 27px;
	height: 27px;
}
