.MainModal {
	border-radius: 20px;
	max-width: 541px;
	padding: 0px 0px !important;
}
@media (max-width: 600px) {
	.MainModal {
		width: 80% !important;
	}
}
.MainModal .text {
	color: #fff;
	width: 100%;
	height: 68px;
	padding: 20px;
	background: #3772ff;
	border-top-right-radius: 10px !important;
	border-top-left-radius: 10px !important;
	display: flex;
	align-items: center;
	justify-content: center;
}
.MainModal .text .comText {
	padding: 20px;
	text-align: center;
	padding: 0px;
}
.MainModal .textarea {
	font-size: 15px;
	color: #87898e;
	padding-left: 2px;
}
.MainModal .input_buttonCard {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 20px;
	padding: 20px;
}
.MainModal .input_buttonCard .input {
	width: 100%;
}
.MainModal .input_buttonCard .buttonAdd {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	display: flex;
	align-items: center;
	padding-bottom: 10px;
}
