.VideoLesson {
	padding-inline: 20px;
	width: 100%;

	.video {
		.content {
			margin-top: 20px;
			display: flex;
			.cards {
				padding: 15px;
				display: flex;
				gap: 16px;
				background: #eff0f4;
				width: 100%;
				border-radius: 10px;

				@media (max-width: 840px) {
					display: flex;
					flex-direction: column;
				}

				.photo {
					width: 100%;
					max-width: 320px;
					position: relative;
					display: flex;
					align-items: center;
					img {
						width: 100%;
						max-width: 320px;
						height: 100%;
						max-height: 220px;
						border-radius: 10px;
						transition: 0.3s;
					}

					.button_watch {
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						z-index: 1;
					}
				}
			}

			.title {
				width: 100%;
				display: flex;
				justify-content: space-between;

				.text {
					h1 {
						font-weight: 600;
						font-size: 20px;
						color: #1d293f;
						width: 100%;
						max-width: 250px;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
					}

					p {
						font-weight: 400;
						font-size: 16px;
						color: #1d293f;
						width: 100%;
						max-width: 250px;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
					}
				}

				.dots {
					display: flex;
					margin-top: auto;
					justify-content: flex-end;
					align-items: end;

					.button {
						border: none;
						background: none;
						cursor: pointer;
					}
				}
			}
		}

		.empty_page {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 20px;
			margin-top: 100px;

			img {
				width: 100%;
				max-width: 500px;
				border-radius: 5px;
			}
		}
	}

	.button {
		display: flex;
		gap: 10px;
		justify-content: center;
		align-items: center;
		border-radius: 8px;
		text-transform: capitalize;
		margin-top: 20px;
		.icon {
			width: 25px;
			height: 25px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		span {
			white-space: nowrap;
		}
		@media (max-width: 700px) {
			span {
				display: none;
			}
		}
	}
}

:global {
	.css-ja5taz-MuiTooltip-tooltip {
		background-color: #fff !important;
		color: #000000 !important;
		width: 100% !important;
		max-width: 250px !important;
		box-shadow: 0 0 10px #000000 !important;
	}
}
