// ! new

.subHeaderCourses {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	// height: 80px
	height: 68px;
}

.header {
	width: 100%;
	// position: sticky;
	// top: 0;
	// z-index: 50;
	// background: #eff0f4;
	padding-inline: 20px;
	padding-bottom: 20px;

	.profile {
		width: 30px;
		height: 30px;
		cursor: pointer;
	}

	.instructor_elements {
		font-size: 18px;
		font-weight: 500;
		cursor: pointer;
	}

	.instructor_profile {
		font-size: 18px;
		font-weight: 500;
		cursor: pointer;
	}

	.photo_profile {
		cursor: pointer;
	}
}

.subHeaderCourses2 {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 68.5px;

	.header_elements {
		display: flex;
		align-items: center;
		gap: 10px;
		justify-content: center;
	}
}

.header {
	width: 100%;
	height: 62.5px;
	border-bottom: 1px solid #d0d0d0;
	// position: sticky;
	// top: 0;
	// z-index: 50;
	// background: #eff0f4;

	.courses_admin {
		display: flex;
		align-items: center;
		height: 68.5px;
		justify-content: flex-end;
		padding-inline: 20px;
		gap: 10px;
		cursor: pointer;

		p {
			font-size: 18px;
			font-weight: 400;
		}

		.bell {
			img {
				display: flex;
				align-items: center;
				width: 26px;
			}
		}

		img {
			display: flex;
			align-items: center;
		}

		.icon {
			display: flex;
			align-items: center;
		}
	}
}
