.get_task {
	padding-inline: 20px;
	width: 100%;
	padding-top: 60px;
}
.get_task h1 {
	margin-bottom: 20px;
	width: 100%;
}
.get_task .work {
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: 100vh;
	min-height: 100vh;
	max-height: 100vh;
	background: #fff;
	border-radius: 10px;
	overflow-y: scroll !important;
}
.get_task .work .content {
	padding-inline: 20px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-top: 40px;
}
.get_task .work .content .saveInput_button {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.get_task .work .content .save_file {
	display: flex;
	justify-content: flex-end;
}
.get_task .work .content :global .ql-container {
	border-radius: 10px !important;
}
.get_task .work .content :global .ql-toolbar {
	border-radius: 10px !important;
}
.get_task .work .card {
	padding-inline: 20px;
}
.get_task .work .card img {
	width: 100%;
	max-width: 600px;
	height: auto;
}
.get_task .work .card .text {
	margin-top: 30px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 490px) {
	.get_task .work .card .text {
		flex-wrap: wrap;
	}
}
.get_task .work .card .inner_html {
	padding-inline: 10px;
	font-size: 16px;
	border-bottom: 1px solid #d0d0d0;
	padding-bottom: 25px;
}
.get_task .work .card .inner_html p {
	font-size: 16px;
}
