.Main_div {
	padding-inline: 20px;
	padding-top: 30px;
}
.Main_div .get_test_name_test {
	display: flex;
	padding-bottom: 20px;
	justify-content: space-between;
	position: sticky;
	z-index: 50;
	top: 80px;
	background: #eff0f4;
}
.Main_div .get_test_name_test .get_test_time {
	color: blue;
}
.Main_div .testing_container {
	padding-top: 20px;
	height: auto;
	display: flex;
	flex-direction: column;
	background: #fff;
	border: 1px solid #d4d4d4;
	border-radius: 10px;
	padding-left: 10px;
	overflow-y: scroll;
	max-height: 78vh;
	min-height: 78vh;
	height: 100%;
}
.Main_div .testing_container .question {
	padding-top: 50px;
	height: auto;
	padding-bottom: 5px;
}
.Main_div .testing_container .question .get_test_testing_second_container {
	display: flex;
	padding-bottom: 18px;
}
.Main_div .testing_container .question .option {
	padding-bottom: 15px;
}
.Main_div .testing_container .question .option input {
	margin-right: 10px;
}
.Main_div .testing_container .question .getTest_hr {
	width: 99%;
	padding-inline: 20px;
	background: #c4c4c4;
}
.Main_div .testing_container .getTest_button {
	display: flex;
	justify-content: flex-end;
	padding-inline: 15px;
	padding-block: 20px;
}
.input2 input[type='checkbox'] {
	cursor: pointer;
	opacity: 0;
	position: absolute;
}
.input2 label {
	display: flex;
	cursor: pointer;
}
.input2 label::before {
	content: '';
	width: 1em;
	height: 1em;
	border-radius: 0.15em;
	margin-right: 0.5em;
	border: 0.05em solid #909cb5;
}
.input2 input[type='checkbox']:hover + label::before {
	transition: 0.5s;
	background-color: #e3e2e2;
}
.input2 input[type='checkbox']:checked + label::before {
	content: '✓';
	background-color: #0ba818;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}
.input input[type='checkbox'] {
	cursor: pointer;
	opacity: 0;
	position: absolute;
}
.input label {
	display: flex;
	cursor: pointer;
}
.input label::before {
	content: '';
	width: 1em;
	height: 1em;
	border-radius: 0.15em;
	margin-right: 0.5em;
	border: 0.05em solid #909cb5;
}
.input input[type='checkbox']:hover + label::before {
	transition: 0.5s;
	background-color: #e3e2e2;
}
.input input[type='checkbox']:checked + label::before {
	content: '✓';
	background-color: #1976d2;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}
.input3 input[type='checkbox'] {
	cursor: pointer;
	opacity: 0;
	position: absolute;
}
.input3 label {
	display: flex;
	cursor: pointer;
}
.input3 label::before {
	content: '';
	width: 1em;
	height: 1em;
	border-radius: 0.15em;
	margin-right: 0.5em;
	border: 0.05em solid #909cb5;
}
.input3 input[type='checkbox']:hover + label::before {
	transition: 0.5s;
	background-color: #e3e2e2;
}
.input3 input[type='checkbox']:checked + label::before {
	content: '✓';
	background-color: #e70f0f;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}
