.lesson {
	padding-top: 20px;
	padding-inline: 20px;
	width: 100%;

	h1 {
		margin-bottom: 24px;
		width: 100%;
		font-size: 22px;
		font-weight: 600;
	}
	.container {
		width: 100%;
		.content {
			.tab {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 8px;
			}
		}
	}

	:global {
		.MuiTabs-flexContainer {
			display: flex;
			gap: 25px;
		}
	}
}

.scrollbar {
	&,
	&:hover {
		background: #fff;
		width: 1px;
		height: 1px;
	}

	&[data-orientation='vertical'] .thumb {
		background: var(--mantine-color-red-6);
	}

	&[data-orientation='horizontal'] .thumb {
		background: var(--mantine-color-blue-6);
	}
}

.corner {
	background: #fff;
	opacity: 1;
}
