.mainModal {
	border-radius: 20px;
	width: 541px !important;
	padding: 0px 0px !important;
	height: auto;
	background: #eff0f4 !important;
}
@media (max-width: 600px) {
	.mainModal {
		width: 90% !important;
		border-radius: 10px;
	}
}
.mainModal .Curse {
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	margin-bottom: 20px;
	text-align: center;
	background: #3772ff;
	color: #fff;
	padding: 20px;
}
@media (max-width: 600px) {
	.mainModal .Curse {
		margin-bottom: 0px;
	}
}
.mainModal .textPart {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
	padding: 20px;
}
@media (max-width: 400px) {
	.mainModal .textPart {
		padding-top: 0px;
		gap: 5px;
	}
}
.mainModal .textPart p {
	font-size: 20px !important;
}
.mainModal .textPart .background {
	width: 173px;
	height: 145px;
	background: url('../../assets/photo-bg.png');
}
.mainModal .textPart .backgroundNone {
	width: 173px;
	height: 145px;
}
.mainModal .textPart .img_part {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 309px;
	gap: 10px;
	width: 100%;
}
@media (max-width: 350px) {
	.mainModal .textPart .img_part .img img {
		width: 100%;
		max-width: 250px !important;
		min-width: 250px !important;
	}
}
.mainModal .textPart .img_part p {
	color: #8d949e !important;
	font-size: 18px !important;
}
.mainModal .textPart .img_part .hideText {
	display: none;
}
.mainModal .textPart .fileInput {
	display: none;
}
.mainModal .textPart .inputs {
	max-width: 541px !important;
	width: 100% !important;
	gap: 12px;
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
}
@media (max-width: 600px) {
	.mainModal .textPart .inputs {
		padding: 0;
		flex-direction: column;
		align-items: flex-start;
	}
}
.mainModal .textPart .inputs .first_input {
	max-width: 367px !important;
	width: 100% !important;
}
.mainModal .textPart .inputs .second_input {
	max-width: 149px;
	width: 100%;
}
.mainModal .textPart textarea {
	width: 100%;
	max-width: 485px;
	height: 123px;
	padding: 7px 7px;
	border-radius: 20px;
	border: 1px solid #c2c1c1;
	font-weight: 500;
	font-size: 17px;
	opacity: none;
	outline: none;
	resize: none;
	background: #eff0f4 !important;
	border: 1px solid #c2c1c1;
}
.mainModal .textPart textarea::-moz-placeholder {
	font-size: 17px;
	font-weight: 500;
}
.mainModal .textPart textarea::placeholder {
	font-size: 17px;
	font-weight: 500;
}
@media (max-width: 600px) {
	.mainModal .textPart textarea {
		padding: 20px;
		flex-direction: column;
		align-items: flex-start;
	}
}
@media (max-width: 400px) {
	.mainModal .textPart textarea {
		height: 100px;
	}
}
.mainModal .textPart .buttons {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
}
