.main_modal {
	border-radius: 20px;
	max-width: 541px;
	padding: 0 0 !important;
	background: #fff;

	@media (max-width: 600px) {
		width: 80% !important;
	}
	.text {
		width: 100%;
		height: 68px;
		padding: 20px;
		background: #3772ff;
		color: #fff;
		border-top-right-radius: 10px !important;
		border-top-left-radius: 10px !important;
		margin-bottom: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		.comText {
			padding: 20px;
			text-align: center;
		}
	}

	.textarea {
		font-size: 15px;
		color: #87898e;
		padding-left: 20px;
	}
	.input_button_card {
		flex-direction: column;
		align-items: center;
		display: flex;
		justify-content: center;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
		gap: 15px;

		.select {
			border-radius: 12px !important;
			width: 100% !important;
		}
		.input {
			max-width: 470px;
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;

			.outlined_input_eyes {
				width: 100%;
				border-radius: 12px;
			}

			.EditButtons {
				display: flex;
				justify-content: flex-end;
				gap: 10px;
				margin-top: 15px;
			}
		}

		.select_div {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		.containInput {
			display: flex;
			gap: 10px;
			width: 500px;
			@media (max-width: 600px) {
				width: 80% !important;
			}
		}
	}
}
