.get_task {
	padding-inline: 20px;
	width: 100%;
	padding-top: 60px;

	h1 {
		margin-bottom: 20px;
		width: 100%;
	}
	.work {
		display: flex;
		flex-direction: column;
		gap: 16px;
		// height: 100vh !important;
		// min-height: 100vh !important;
		// max-height: 100vh !important;
		background: #fff;
		border-radius: 10px;
		width: 100% !important;
		.content {
			padding-inline: 20px;
			display: flex;
			flex-direction: column;
			gap: 24px;
			margin-top: 40px;

			.saveInput_button {
				display: flex;
				flex-direction: column;
				gap: 15px;
			}

			.save_file {
				display: flex;
				justify-content: flex-end;

				.buttons {
					display: flex;
					gap: 10px;
					justify-content: center;
					align-items: center;
					@media (max-width: 700px) {
						gap: 0;
					}
					.button {
						.button_elements {
							display: flex;
							gap: 10px;
							justify-content: center;
							align-items: center;
							border-radius: 8px;
							text-transform: capitalize;
							.icon {
								width: 25px;
								height: 25px;
								display: flex;
								justify-content: center;
								align-items: center;
							}
							span {
								white-space: nowrap;
							}
							@media (max-width: 700px) {
								span {
									display: none;
								}
							}
						}
					}
					:global {
						.MuiButtonBase-root {
							max-width: 360px !important;
							width: 100% !important ;
							@media (max-width: 700px) {
								width: 0 !important;
							}
						}
						.MuiButton-outlinedPrimary {
							max-width: 360px !important;
							width: 100% !important ;
							@media (max-width: 700px) {
								width: 0 !important;
							}
						}
					}
				}
			}

			:global {
				.ql-container {
					border-radius: 10px !important;
				}

				.ql-toolbar {
					border-radius: 10px !important;
				}
			}

			.react_quill {
				.editorInput {
					width: 100%;
					border: none !important;
					display: flex;
					flex-direction: column;
					border-top: none;
				}

				p {
					width: 100% !important;
					max-width: 900px !important;
				}

				img {
					width: 100% !important;
					max-width: 900px !important;
					height: auto !important;
				}
			}
		}
		.card {
			padding-inline: 20px;
			img {
				width: 100%;
				max-width: 600px;
				height: auto;
			}

			.text {
				margin-top: 30px;
				padding: 10px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				@media (max-width: 490px) {
					flex-wrap: wrap;
				}
			}

			.inner_html {
				padding-inline: 10px;
				font-size: 16px;
				border-bottom: 1px solid #d0d0d0;
				padding-bottom: 25px;

				p {
					font-size: 16px;
				}
			}
		}
	}
}
