.Section_announcement {
	overflow-y: scroll;
	width: 100%;
	.main_container {
		min-height: 89vh !important;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.add_button_name {
			padding-inline: 20px;
			display: flex;
			flex-direction: column;
			padding-top: 20px;

			.course_button_modal {
				margin-bottom: 20px;
				display: grid;
				justify-content: flex-end;
				align-items: center;
				width: 100%;

				.button {
					display: flex;
					gap: 10px;
					justify-content: center;
					align-items: center;
					border-radius: 8px;
					text-transform: capitalize;

					.icon {
						width: 25px;
						height: 25px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}

			.title {
				h1 {
					width: 100%;
					padding-inline: 20px;
					font-size: 22px;
					font-weight: 600;
				}
			}
		}

		.announce_box {
			width: 100%;

			.announce_card {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				place-items: center;
				column-gap: 20px;
				display: grid;
				grid-template-columns: repeat(2, 1fr);

				@media (max-width: 1350px) {
					display: grid;
					grid-template-columns: repeat(1, 1fr);
					place-items: center;
				}
				.announce_list {
					width: 100%;
					max-width: 800px;
					min-height: 250px;
					background: #fff;
					font-size: 20px;
					box-shadow: 2px 2px 4px #80808066;
					margin-top: 30px;
					padding: 15px;
					border-radius: 15px;
					overflow-wrap: break-word;

					p {
						font-size: 16px;
						font-weight: 400;
						padding-top: 10px;
					}

					.button {
						border: none;
						background: none;
						bottom: 20px;
						right: 20px;
						cursor: pointer;
					}
				}
			}
		}
	}
}
.pagination {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	background: #efeff6;
	padding-block: 20px;
	padding-inline: 30px;
	margin-top: auto;
	position: sticky;
	bottom: 0;
	left: 0;

	@media (max-width: 1000px) {
		padding-bottom: 96px;
	}

	@media (max-width: 850px) {
		flex-direction: column;
	}

	@media (max-width: 625px) {
		gap: 8px;
	}

	.inputs {
		display: flex;
		gap: 5px;
		align-items: center;

		input {
			width: 40px;
		}

		.text {
			display: block;

			@media (max-width: 850px) {
				display: none;
			}
		}

		.pagination_element {
			display: none;

			@media (max-width: 850px) {
				display: block;
			}
		}
	}

	.stack {
		@media (max-width: 650px) {
			flex-direction: column;
		}
	}
}

.announcement_owners {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.announcement_owner {
		display: flex;
		flex-direction: column;
		color: blue;
	}
}

.announcement_publishDate {
	color: #8b8b8b;
}

.announc_user {
	color: #8b8b8b;
}
.announce_content {
	color: #8b8b8b;
}

.announce_groups {
	color: #8b8b8b;
}
.announce_groupsss {
	color: #0000ff;
}

.cont_date {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.announce_contents {
	display: flex;
	flex-direction: column;
}

.announce_groupsss {
	display: flex;
	flex-direction: column;
}
